@CHARSET "UTF-8";
h1 {
	color: #fff;
	font-family: impact;
}
/*body {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background: #292931;
}
*/
#login {
	margin-left: 37%;
}

#login div {
	font-size: 19px;
}

#login div  > a {
	font-size: 18px;
	color: #3e4651;
}

#login div  > a:hover {
	color: #ffa500;
}

#login h2 {
	color: #3e4651;
	font-size: 35px;
	margin-bottom: 5px;
}
#login input {
	display: block;
	width: 300px;
	height: 40px;
	padding: 10px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	background: rgba(0,0,0,0.3);
	outline: none;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2),0px 1px 1px rgba(255,255,255,0.2);
	margin-bottom: 10px;
}

#login #login-btn,
#signup #post-job-btn {
	background: #ffa500;
	padding: 10px;
	width: 325px;
	height: 40px;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
	cursor: pointer;
}
#signup{
	margin-left: 37%;
}

.tips #signup {
	margin-left: 28%;
}

#signup h2{
	text-align: left;
	color: #3e4651;
	font-size: 30px;
	margin-bottom: 5px;
}
#signup input{
	display: block;
	width: 320px;
	height: 40px;
	padding: 10px;
	font-size: 16px;
	color: white;
	background: rgba(0,0,0,0.3);
	outline: none;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2),0px 1px 1px rgba(255,255,255,0.2);
	margin-bottom: 10px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
}

#signup #submit-btn{
	background: #ffa500;
	padding: 10px;
	width: 345px;
	height: 40px;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
	cursor: pointer;
}

#signup p,
#signup p a,
#login span,
#login span a {
	font-size: 19px;
    color: #3e4651;
}

#login .success {
	font-size: 16px;
	color: green;
	margin: 20px 0;
}
#login .error,
#signup .error {
		color: red;
		font-size: 17px;
		margin: 20px 0;
	}


#index {
	font-size: 14px;
}

.categories select{
	display: block;
	width: 298px;
	height: 40px;
	padding: 10px;
	font-size: 14px;
	color: white;
	background: rgba(0,0,0,0.3);
	outline: none;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	box-shadow: inset 0px -5px 45px rgba(100,100,100,0.2),0px 1px 1px rgba(255,255,255,0.2);
	margin-bottom: 10px;
}

.search-results {
	border: 1px solid #3e4651;
	width: 700px;
    margin-left: 23%;
}

.result-title,
.result-budjet,
.result-description,
.result-user {
	margin: 2%;
}

.result-title p:first-child,
.result-budjet p:first-child, 
.result-description p:first-child,
.result-user p:first-child {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 5px 0;
}

#post-job .search-job #post-job-btn {
	margin: 2% 25%;
}

.message-menu {
	display: inline;
    float: left;
    width: 200px;
    height: 200px;
	margin-left: 6%;
}

.message-menu a {
	text-decoration: none;
}

.message-menu p {
	font-size: 18px;
	text-align: left;
	margin: 15%;
	text-decoration: none;
	color: #3e4651;
}
